<!DOCTYPE html>
<html lang="en">

<header>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Company name</h1>
        </div>
    </div>
</div>
</header>

<body>
    <div class="nav">
        <ul>
        <li> <%= link_to "Home", homepage_index_path %> </li>
        <li> <%= link_to "Request Travel", say_request_path %> </li>
        <li> <%= link_to "Travel History", say_history_path %> </li>
        <li> <%= link_to "My Info", say_info_path %> </li>
        <li> <%= link_to "Post-Travel", say_post_path %> </li>
        </ul>
    </div>
</body>
</html>