<li> <%= link_to "Home", homepage_index_path %> </li>

<% if @budget.name.nil? or @budget.name == "" %>
    <h2>Budget Approvers's Profile</h2>
<% else %>
    <h2><%= @budget.name %>'s Profile</h2>
    <h1><%="----------------------------------------------------"      %></h1>
    <h4>Department budget $<%= @budget.dmoney %></h4>
    <h1><%="----------------------------------------------------"      %></h1>
    <h4>Budget Approver ID <%= @budget.bid %></h4>
    <h1><%="----------------------------------------------------"      %></h1>
    <h4>Budget Approver Title <%= @budget.title %></h4>


<% end %>

