
<%= simple_form_for(@post_travel) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :destination %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :purpose %>
    <%= f.input :expected_expenses %>
    <%= f.input :actual_expenses %>
    <%= f.input :payment_infomation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
