<% if @budgetApprover.name.nil? or @budgetApprover.name == "" %>
    <h2>Edit BudgetApprover's Profile</h2>
<% else %>
    <h2>Edit <%= @budgetApprover.name %>'s Profile</h2>
<% end %>

<%= simple_form_for(@budgetApprover, as: @budgetApprover, url: budgetApprover_path(@budgetApprover), html: { method: :patch }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :idNum, required: true %>
  <%= f.input :department, required: true %>
  <%= f.input :title, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>