
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="http://fonts.googleapis.com/css?family=Playfair+Display:900" rel="stylesheet" type="text/css" />
	<link href="http://fonts.googleapis.com/css?family=Alice:400,700" rel="stylesheet" type="text/css" />

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">

				<div class="row">
					<div class="booking-form">

            <%= form_with(model: request, local: true) do |form| %>
              <% if request.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(request.errors.count, "error") %>
                  prohibited this request from being submitted:</h2>
                  <ul>
                    <% request.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>

                </div>
              <% end %>

            <div class="field">
              <p class="rounded">
                <span class="form-label">Name</span>
                <%= form.text_field :name, id: :employee_name %>
              </p>
            </div>


            <div class="field">
            <span class="form-label">Destination</span>
              <%= form.text_field :destination, id: :request_destination, size: 40 %>
            </div>

							<div class="row">
							  <!--	<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Start Date</span>
										<input class="form-control" type="date" required>
									</div>
                </div>-->

                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <span class="form-label">End Date</span>
                    <input class="form-control" type="date" required>
                  </div>
                </div> -->
                <div class="col-md-6">
                  <span class="form-label">Start Date</span>
                    <%= form.date_select :start_date, {:order => [:month, :day, :year],:prompt => true, :start_year => Time.now.year, :end_year => 2030} %>
                </div>
                <div class="col-md-6">
                  <span class="form-label">End Date</span>
                    <%= form.date_select :end_date, {:order => [:month, :day, :year],:prompt => true, :start_year => Time.now.year, :end_year => 2030} %>
                </div>
              </div>

							<%if request.name == nil%>
            <div class="field">
            <span class="form-label">Purpose</span>
            <div class="form-group">
              <%= form.text_area :purpose, id: :request_purpose, rows: 10, cols: 60 %>
            </div>
            </div>

            <div class="field">
            <span class="form-label">Expected Expenses</span>
              <input type="button" value= "add new expense" id="add">
              <%= form.select :expected_expenses, options_for_select([["Choose Different cost(s)", ""], "food", "hotel", "travel"])%>
            </div>

            <div class="field">
            <span class="form-label">Expected Costs</span>
              <input type="button" value= "add new costs amount" id="add">
              <%= form.text_area :expected_costs, id: :expected_costs, rows: 1, cols: 20 %>
            </div>



          	<div class="row">
								<div class="col-md-6">
									<div class="form-group">
            <div class="form-group">
            <span class="form-label">Payment_Department_Info</span>
              <%= form.select :payment_information, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3"])%>
              </div>
               </div>
                </div>

								 <div class="form-group">
                 <span class="form-label">Employee_Department</span>
                 <%= form.select :employ_department, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3"])%>
                 </div>
               </div>

							 <%else %>

							 <%end%>

							 <%if request.budget_name == nil && request.payment_information == "Dept1"%>

	 				      <div class="field">
	 				        <%= form.label :your_advisor_is  %>
	 				        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "bobby"])%>
	 				      </div>
	 				    <%elsif request.budget_name == nil && request.payment_information == "Dept2"%>
	 				      <div class="field">
	 				        <%= form.label :your_advisor_is  %>
	 				        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "brenda"])%>
	 				      </div>

	 				      <%elsif request.budget_name == nil && request.payment_information == "Dept3"%>
	 				        <div class="field">
	 				        <%= form.label :your_advisor_is  %>
	 				        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "billy"])%>
	 				      </div>

	 				    <%else%>

	 				    <%end%>
							<div class="form-btn">
								<button class="submit-btn">Submit Request</button>
							</div>
<%end%>
					</div>
			</div>
		</div>
	</div>
</body>

</html>
