<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %>
      prohibited this request from being submitted:</h2>
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :request_name %>
  </div>

  <div class="field">
    <%= form.label :Destination %>
    <%= form.text_field :Destination, id: :request_Destination, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :Requested_Travel_Days %>
    <%= form.text_field :Requested_Travel_Days, id: :request_Requested_Travel_Days, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_area :purpose, id: :request_purpose, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :Expected_Expenses %>
    <%= form.text_area :Expected_Expenses, id: :request_Expected_Expenses, rows: 4, cols: 40 %>
  </div>

  <div class="field">
    <%= form.label :payment_Information %>
    <%= form.text_area :payment_Information, id: :request_payment_Information, rows: 4, cols: 40 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>