<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %>
      prohibited this request from being submitted:</h2>
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%if request.name == nil%>
      <%= form.text_field :name, id: :employee_name, enabled: true %>
    <%else%>
      <%= form.text_field :name, id: :employee_name, disabled: true %>
    <%end%>

  </div>












  <div class="field">
    <%= form.label :Destination %>
    <%= form.text_field :destination, id: :request_destination, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :Requested_Travel_Days %>
    <%= form.text_field :requested_travel_days, id: :request_requested_travel_days, size: 40 %>
  </div>

<%if request.name == nil%>
  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_area :purpose, id: :request_purpose, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :Expected_Expenses %>
    <%= form.select :expected_expenses, options_for_select([["Choose Different cost(s)", ""], "food", "hotel", "travel"])%>
  </div>

  <div class="field">
    <%= form.label :payment_Information %>
      <%= form.select :payment_information, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3"])%>
    </div>

    <div class="field">
      <%= form.label :employee_department %>
      <%= form.select :employ_department, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3"])%>
    </div>

    <%else %>



  
    <%end%>


    <%if request.budget_name == nil && request.payment_information == "Dept1"%>

      <div class="field">
        <%= form.label :your_advisor_is  %>
        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "bobby"])%>
      </div>
    <%elsif request.budget_name == nil && request.payment_information == "Dept2"%>
      <div class="field">
        <%= form.label :your_advisor_is  %>
        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "brenda"])%>
      </div>

      <%elsif request.budget_name == nil && request.payment_information == "Dept3"%>
        <div class="field">
        <%= form.label :your_advisor_is  %>
        <%= form.select :budget_name, options_for_select([["Choose Department(s)", ""], "billy"])%>
      </div>

    <%else%>


    <%end%>


  








  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>