<%= form_with(model: request, local: true) do |form| %>
  <% if request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(request.errors.count, "error") %>
      prohibited this request from being submitted:</h2>
      <ul>
        <% request.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :employee_name %>
  </div>












  <div class="field">
    <%= form.label :Destination %>
    <%= form.text_field :destination, id: :request_destination, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :Requested_Travel_Days %>
    <%= form.text_field :requested_travel_days, id: :request_requested_travel_days, size: 40 %>
  </div>

  <div class="field">
    <%= form.label :purpose %>
    <%= form.text_area :purpose, id: :request_purpose, rows: 10, cols: 60 %>
  </div>

  <div class="field">
    <%= form.label :Expected_Expenses %>
    <input type="button" value= "add new expense" id="add">
    <%= form.select :expected_expenses, options_for_select([["Choose Different cost(s)", ""], "food", "hotel", "travel"])%>
  </div>

  <div class="field">
    <%= form.label :payment_Information %>
    <%= form.select :payment_information, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3", "Dept4"])%>
    </div>

    <div class="field">
      <%= form.label :employee_department %>
      <%= form.select :employ_department, options_for_select([["Choose Department(s)", ""], "Dept1", "Dept2", "Dept3", "Dept4"])%>
    </div>









  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>