<h1>Editing Request</h1>

<%= render 'form', request: @request %>


    <%= link_to 'Show', @request %> |
    <%= link_to 'Back', requests_path %>
    <%= link_to 'Home', homepage_index_path %>
    <%= link_to "Add New Expense", new_request_expect_path(@request), class: 'pull-right'%>
    
