<p id="notice"><%= notice %></p>

<h1>Requests</h1>
<% if current_account.accountable_type == "Employee" %>

<table>
  <thead>
    <tr>

      <th> name</th>
      <th>Status</th>
      <th>Destination</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Purpose</th>
      <th>Expected expenses</th>
      <th>Payment information</th>
      <th>the costs</th>

      <th>Notes from Budget approver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <%if request.status == nil%>
          <td>Pending</td>
        <%elsif request.status == "Accept"%>
          <td>Accepted</td>
        <%else%>
          <td>Rejected</td>
        <%end%>
          <td><%= request.destination %></td>
          <td><%= request.start_date %></td>
          <td><%= request.end_date %></td>
          <td><%= request.purpose %></td>
          <td><%= request.expected_expenses %></td>
          <td><%= request.payment_informations %></td>
          <td><%= request.expected_costs%></td>

          <td><%= request.reasoning %></td>
          <td><%= link_to 'Show', request %></td>
          <td><%= link_to 'Edit', edit_request_path(request) %></td>
          <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%end%>



<% if current_account.accountable_type == "Budget" %>
  <table>
    <thead>
      <tr>
        <th> name</th>
        <th> Employee department</th>
        <th> Budget approver</th>
        <th> Expected Expenses</th>
        <th> Expected costs</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <%if request.budget_name == "bobby" %>

        <tr>
          <td><%= request.name %></td>
          <td><%= request.employ_department %></td>
          <td><%= request.budget_name%></td>    
          <td><%= request.expected_expenses%></td>
          <td><%= request.expected_costs%></td>      
          <td><%= link_to 'Show', request %></td>
          <td>
          <%if request.status == nil%>
            <%= form_with(model: request, local: true) do |form| %>
              <div class="field">
                <%= form.label :Status %>
                <%= form.select :status, options_for_select([["Choose Department(s)", ""], "Accept", "Reject"])%>
              </div>
            <%= form.label :Notes %>
            <%= form.text_area :reasoning, id: :request_reasoning, rows: 5, cols: 30 %>
            </div>




          <div class="actions">
          <%= form.submit %>
        </div>
        <%end%>
        <%end%>

      </tr>
      </td>
        <%elsif request.budget_name == "brenda"%>


          <tr>
            <td><%= request.name %></td>
            <td><%= request.employ_department %></td>
            <td><%= request.budget_name%></td>
            <td><%= request.expected_expenses%></td>
            <td><%= request.expected_costs%></td>
            <td><%= link_to 'Show', request %></td>
            <td>
            <%if request.status == nil%>
              <%= form_with(model: request, local: true) do |form| %>
                <div class="field">
                <%= form.label :Status %>
                  <%= form.select :status, options_for_select([["Choose Department(s)", ""], "Accept", "Reject"])%>
                </div>

                <%= form.label :Notes %>
                <%= form.text_area :reasoning, id: :request_reasoning, rows: 5, cols: 30 %>
                </div>




              <div class="actions">
              <%= form.submit %>
            </div>
            <%end%>
            <%end%>

          </tr>
          </td>


        <%elsif request.budget_name == "billy"%>
        <tr>
          <td><%= request.name %></td>
          <td><%= request.employ_department %></td>
          <td><%= request.budget_name%></td>
          <td><%= request.expected_expenses%></td>
          <td><%= request.expected_costs%></td>
          <td><%= link_to 'Show', request %></td>
          <td>
        <%if request.status == nil%>
          <%= form_with(model: request, local: true) do |form| %>
            <div class="field">
            <%= form.label :Status %>
              <%= form.select :status, options_for_select([["Choose Department(s)", ""], "Accept", "Reject"])%>
            </div>

            <%= form.label :Notes %>
            <%= form.text_area :reasoning, id: :request_reasoning, rows: 5, cols: 30 %>
            </div>




          <div class="actions">
          <%= form.submit %>
        </div>
        <%end%>
        <%end%>

      </tr>
      </td>
        <%else%>



        <%end%>



      <% end %>
    </tbody>
  </table>
<%end%>




<% if current_account.accountable_type == "Payment" %>
  <table>
    <thead>
      <tr>
        <th> name</th>
        <th> Employee department</th>
        <th> Budget approver</th>
        <th> Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>

        <%if request.status == "Accept"%>
          <tr>
            <td><%= request.name %></td>
            <td><%= request.employ_department %></td>
            <td><%= request.budget_name%></td>
            <td><%= request.status%>ed from budget Approver <%=request.budget_name %></td>
            <td><%= link_to 'Show', request %></td>
          </tr>
        <%end%>




      <% end %>
    </tbody>
  </table>
<%end%>






















<br>

<%= link_to 'New Request', new_request_path %>
<%= link_to 'Home', homepage_index_path %>
