<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
    <%= @request.name %>
</p>



<p>
  <strong>Destination:</strong>
  <%= @request.destination %>
</p>
<p>
  <p>
    <strong>Start date:</strong>
    <%= @request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @request.end_date %>
  </p>

</p>

<p>
  <strong>Purpose:</strong>
  <%= @request.purpose %>
</p>

  <p>
    <strong>Expected expenses:</strong>
    <%= @request.expected_expenses %>
  </p>

  <p>
    <strong>Expected Costs:</strong>
    <%= @request.expected_costs %>
</p>


<p>
  <strong>Payment information:</strong>
  <%= @request.payment_information %>
</p>

<p>
<strong>Expected expenses2:</strong>
<%= @request.expected_expenses2 %>
</p>

<p>
<strong>Expected Costs2:</strong>
<%= @request.expected_costs2 %>
</p>
<p>

<strong>TOTAL COSTS:</strong>
<%= @request.total_costs %>
</p>

<p>
<strong>Payment information:</strong>
<%= @request.payment_information2 %>
</p>



<p>
  <strong>Notes:</strong>
  <%= @request.reasoning %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', homepage_index_path %>
