<p id="notice"><%= notice %></p>





<p>
  <strong> name:</strong>
    <%= @request.name %>
</p>



<p>
  <strong>Destination:</strong>
  <%= @request.destination %>
</p>
<p>
  <p>
    <strong>Start date:</strong>
    <%= @request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @request.end_date %>
  </p>

</p>

<p>
  <strong>Purpose:</strong>
  <%= @request.purpose %>
</p>

<% if @request.field_num == 1 || @request.field_num == nil%>



  <%elsif @request.field_num == 2%>
    <p>
      <strong>Expected expenses:</strong>
      <%= @request.expected_expenses %>
    </p>

    <p>
      <strong>Expected expenses2:</strong>
      <%= @request.expected_expenses2 %>
    </p>

  <%elsif @request.field_num == 3 %>
  <p>
  <strong>Expected expenses:</strong>
  <%= @request.expected_expenses %>
</p>

<p>
  <strong>Expected expenses2:</strong>
  <%= @request.expected_expenses2 %>
</p>

<p>
<strong>Expected expenses3:</strong>
<%= @request.expected_expenses3 %>
</p>
<%end%>


<% if @request.field_num == 1 || @request.field_num == nil%>


  <%elsif @request.field_num == 2%>
  <p>
    <strong>Expected Costs:</strong>
    <%= @request.expected_costs %>
  </p>
  <p>
    <strong>Expected Costs2:</strong>
    <%= @request.expected_costs2 %>
  </p>
  <%elsif @request.field_num == 3 %>
  <p>
    <strong>Expected Costs:</strong>
    <%= @request.expected_costs %>
  </p>
  <p>
    <strong>Expected Costs2:</strong>
    <%= @request.expected_costs2 %>
  </p>
  <p>
    <strong>Expected Costs3:</strong>
    <%= @request.expected_costs3 %>
  </p>
<%end%>





<% if @request.field_num == 1 || @request.field_num == nil%>

  <%elsif @request.field_num == 2%>
  <p>
    <strong>Payment information:</strong>
    <%= @request.payment_information %>
  </p>
  <p>
    <strong>Payment information:</strong>
    <%= @request.payment_information2 %>
  </p>
  <%elsif @request.field_num == 3 %>
  <p>
    <strong>Payment information:</strong>
    <%= @request.payment_information %>
  </p>
  <p>
    <strong>Payment information:</strong>
    <%= @request.payment_information2 %>
  </p>

  <p>
    <strong>Payment information:</strong>
    <%= @request.payment_information3 %>
  </p>
<%end%>


<p>
  <strong>Notes:</strong>
  <%= @request.reasoning %>
</p>



<% if current_account.accountable_type == "Budget" %>
<p>
  <Strong>Your Departments Budget</Strong>
  $<%=current_account.budget%>
</p>
<%end%>

<%if @request.status == "Accept"%>
<% @expects.each do |expect| %>

    <%= current_account.budget =  current_account.budget - expect.expected_costs%>


<%end%>


<%end%>


<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Expense</th>
          <th>Cost</th>
          <th>Payment Information</th>
        </tr>
      </thead>
      <tbody>
        <% @expects.each do |expect| %>
          <tr>
            <td><h4><%= expect.expected_expenses %></h4></td>
            <td><h4>$<%= expect.expected_costs %></h4></td>
            <td><h4><%= expect.payment_information %></h4></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>










<% if current_account.accountable_type == "Employee" %>
  <%= link_to 'Edit', edit_request_path(@request) %> |
  <% @expects.each do |expect| %>
    <% if expect.payment_information == "Dept1" %>
    <td>
      <%= form_with(model: @request, local: true) do |form| %>
        <%if @request.budget_name == nil%>
        <div class="field">
          <%= form.select :budget_name,[['billy','billy']] %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
        <%else%>
        <%end%>
      <%end%>
    </td>
    <%end%>
    
   
    <% if expect.payment_information == "Dept2" %>
    <td>
      <%= form_with(model: @request, local: true) do |form| %>

        <%if @request.budget_name == nil%>
        <div class="field">
          <%= form.select :budget_name,[['brenda','brenda']] %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
        <%else%>
        <%end%>
      <%end%>
    </td>
    <%end%>
    
    
    
    <% if expect.payment_information == "Dept3" %>
    <td>
      <%= form_with(model: @request, local: true) do |form| %>
        <%if @request.budget_name == nil%>
        <div class="field">
          <%= form.select :budget_name,[['bobby','bobby']] %>
        </div>
        <div class="actions">
          <%= form.submit %>
        </div>
        <%else%>
        <%end%>
      <%end%>
    </td>
    <%end%>
    
    
    <%end%>
<%end%>






<%= link_to 'Back', homepage_index_path %>

<% if current_account.accountable_type == "Employee" %>
<%= link_to "Add New Expense", new_request_expect_path(@request), class: 'pull-right'%>
<%end%>