<p id="notice"><%= notice %></p>

<p>
  <strong>Expense:</strong>
  <%= @actual.expense %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @actual.cost %>
</p>

<p>
  <strong>Payment information:</strong>
  <%= @actual.payment_information %>
</p>

<p>
  <strong>Post travel:</strong>
  <%= @actual.post_travel %>
</p>
