
<li> <%= link_to "Home", homepage_index_path %> </li>

<% if @payment.name.nil? or @payment.name == "" %>
    <h2>Payment Manager's Profile</h2>
<% else %>
    <h2><%= @payment.name %>'s Profile</h2>

    <h1><%="----------------------------------------------------"      %></h1>
    <h4>Payment Manager ID <%= @payment.pid %></h4>
    <h1><%="----------------------------------------------------"      %></h1>
    <h4>Payment Manager Title <%= @payment.title %></h4>


<% end %>